@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* Definindo background da página */
body {
    background-color: rgb(0, 93, 168);
    font-family: 'Montserrat', sans-serif;
}

.banner {
    height: 100vh;
    width : 100%;
    background: url("../assets/design-space-paper-textured-background.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5% ;
}

.content{
    padding: 10% 5%;
}

.content h4 {
    font-size: 60px;
    margin-bottom: 2%;
}

.content p {
    color: black;
    width: 70%;
    font-size: 15px;
}

.content img {
    border-radius: 20%;
    transition: all 0.3s;
}

.content img:hover {
    transform: scale(1.03);
    transition: all 0.3s;
}

/* Fim background da página */

/* Começo do cabeçalho da página */
.container {
    width: 80%;
    margin: auto;
}

.header {
    background-color: rgb(0, 93, 168);
    display: flex;
    justify-content: center;
}

.texto {
    color: white;
}

p {
    color: #FFFFFF;
}

/* Fim cabeçalho da página */

/* Começo cruzada */
.regrasCruzada {
    background-color: rgb(0, 93, 168);
}

.dicas h2 {
    padding-top: 30px;
}

/* Fim cruzada */

/* Começo cruzadinha */
.cruzadinha {
    background-color: white;
    margin: auto;
    padding: auto;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.containerCruzadinha {
    width: 100%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    border-radius: 30px;
}

.tamanhoInput {
    width: 10%;
}

.tabelaBorda {
    width: 5%;
    height: 8%;
    border: 1px solid rgb(1, 31, 97);
}

.quadroPreto {
    color: #FFFFFF;
    background-color: #FFFFFF;
    display: transparent;
    border: none;
}

.centralizar {
    padding-top: 30px;
    text-align: center;
}

.botaoVerificar {
    margin-top: 30px;
    width: 200px;
    color: #FFFFFF;
    background-color: rgb(0, 93, 168);
    padding: 10px 30px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
    transition: 0.3s;
}

.botaoVerificar:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.resposta input {
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(250, 250, 250);
    padding: 5px;
    font-size: 1.5rem;
    text-align: center;
}

.resposta input:focus-visible {
    outline: unset;
}

/* Fim cruzadinha */